<app-header></app-header>
<div style="background-color: rgba(255, 255, 255, 0.7);">
  <div class="container" style="padding-top:20px">
    <div class="row">
      <div class="col-sm-12" style="overflow: auto; height: 100%">
        <h4>Aktuelle Bodenfeuchtigkeit</h4>
        <div [style.height.px]="300">
          <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="moistures" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel" yAxisLabel="Prozent" [yScaleMin]="0" (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <div class="row p-top-down-1rem">
      <div class="col p-3 border bg-light text-center">
        <a class="btn btn-success btn-sm" routerLink="/moisture"><span class="bi bi-stack">&nbsp;&nbsp;24h Sensordaten</span></a>
      </div>
      <div class="col p-3 border bg-light text-center">
        <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal"><span
            class="bi bi-cloud-sun-fill">&nbsp;&nbsp;Vorhersage</span></button>
      </div>
      <div class="col p-3 border bg-light text-center">
        <a class="btn btn-success btn-sm" routerLink="/sensor"><span
            class="bi bi-gear-fill">&nbsp;&nbsp;Einstellungen</span></a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
  